*.dot
*.lyx
*.txt
*.docx
*.sublime-*
.DS_Store
.idea
*.pyc
*.csv
*png
.Rhistory
.RData
*.Rout
*.bu
classicthesis*
*.lyx#
cython/*
sa/*

*.pdf



*.Rda

*.out

*.log

*.zip
sensitivity/*
*.tsv
*.Prj
*.eps

python/Information.py

*.svg

*.samples

*.bak

*.pptx

*.ps

*.lyx~

*.tex
