*.dot
*.csv.gz
*.gz
*.lyx
*.txt
*.docx
*.p
results
*.sublime-*
.DS_Store
.idea
*.pyc
*.csv
*png
.Rhistory
.RData
*.Rout
*.bu
classicthesis*
*.lyx#
cython/*
sa/*

*.pdf



*.Rda

*.out

*.log

*.zip
sensitivity/*
*.tsv
*.Prj
*.eps

python/Information.py

*.svg

*.samples

*.bak

*.pptx

*.ps

*.lyx~

*.tex

breakdown_figs.R

disclosure-article/

figure_new.R

figures.R

figures_final.R

foo.p

gls.sh

prospect_test.R

python/args.p

python/mapfn.py

python/resultfn.py

python/time_test.py

ref_breakdown.R

sensitivity.R

sobol.R

test.R

*.db
*.fuckit
*.pickle
test2.R

*.gz

results/caseload_params.csv.gz

results/caseload_women.csv.gz

python/random_test.py
*.html
louvin/*

python/test.py

r/tmp.R
