*.dot
*.lyx
*.txt
*.docx
*.sublime-*
.DS_Store
.idea
*.pyc
*.csv
*png
.Rhistory
.RData
*.Rout
*.bu
classicthesis*
*.lyx#
cython/*
sa/*

*.R

*.pdf

*.sh

*.Rda

*.out

*.log

*.zip
sensitivity/*
*.tsv
*.Prj
*.eps
